<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://media.ouest-france.fr/v1/pictures/ac8b7127da31e3ed7e5eefc7be010b45-lannion-vivarmor-veut-boycotter-la-duck-race-sur-le-leguer.jpg?width=1260&height=712&fill=0&focuspoint=52%2C38&cropresize=1');">
  <div class="banner-content">
    <h1>The Project Duck</h1>
    <br> <br>
    <form action="/ducks" method="GET">
      <div class="form-group">
        <input type="text" placeholder="Yellow duck..." class="form_text">
        <input type="submit" value="Search a duck!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
