<div class="navbar-duck-project">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-duck-project-brand" do %>
    <%= image_tag 'logo.png' %>
  <% end %>

    <div class="form_in_navbar text-center">
      <form>
        <div class="form-group">
          <input type="text" placeholder="Yellow duck...">
          <input type="submit" value="Search a duck!" class="btn btn-light">
        </div>
      </form>
    </div>
  <!-- Right Navigation -->
  <div class="navbar-duck-project-right hidden-xs hidden-sm">


    <a href="" class="navbar-duck-project-item navbar-duck-project-link">empty</a>
    <a href="" class="navbar-duck-project-item navbar-duck-project-link">empty</a>
    <a href="" class="navbar-duck-project-item navbar-duck-project-link">empty</a>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-duck-project-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ArthurGAUTHIER" class="avatar dropdown-toggle" id="navbar-duck-project-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-duck-project-dropdown-menu">
          <li><a href="dashboard_path">Profile</a></li>
          <li><a href="dashboard_path">Dashboard</a></li>
          <li><a href="destroy_user_session_path">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-duck-project-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-duck-project-dropdown-menu">
        <li><a href="#">Empty</a></li>
        <li><a href="#">Empty</a></li>
        <li><a href="#">Empty</a></li>
      </ul>
    </div>
  </div>
</div>
