// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$duck-green: #82d173;
$duck-blue: #75dbcd;
$duck-dark-blue: #037971;
$duck-yellow: #fff275;

// https://coolors.co/82d173-75dbcd-037971-fff275  -1f271b
