
<div class="container flexbox">
  <h1>Edit your duck</h1>
  <div class="container flexbox duck_address">
    <%= render 'components/duck_form', duck: @duck %>
    <br>
    <%= link_to "Back to list", ducks_path, class: "btn btn-primary"%>
  </div>
</div>
