<div class="container">
  <br>
  <div class="text-center">
    <%= link_to "Back to list", ducks_path, class: "btn btn-primary"%>
  </div>
  <div class="text-center"><h1>Edit your duck</h1></div>
  <div class="text-center duck_address">
    <%= render 'components/duck_form', duck: @duck %>
  </div>
</div>
