
<div class="container flexbox">
  <h1>Find my duck</h1>
  <div class="container">
    <div class="row">
      <% @ducks.each do |duck| %>
        <div class="col-xs-12 col-sm-4">
           <%= link_to duck_path(duck) do %>
            <%= render 'components/card', duck: duck %>
            <br>
           <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= link_to "Create a duck", new_duck_path, class: "btn btn-success"%>
    <% end %>
  </div>
</div>
